export(foodnet_crm)
export(foodnet_listen)
export(crm_consumed)
export(crm_produced)
export(crm_rates)
export(crm_resources)
export(crm_efficiency)
export(crm_readme)
export(crm_write)
export(as_miasim)
export(crm_backcheck)
export(crm_scale)
export(crm_unscale)
export(crm_subset)
S3method(print, foodnet_crm)
S3method(summary, foodnet_crm)
importFrom(jsonlite, fromJSON)
importFrom(utils, write.csv)
